.details {
  text-align: center;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.bar {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

.bar button {
  height: 25px;
  border: none;
  background-color: aquamarine;
  border-radius: 5px;
  cursor: pointer;
}

.bar button:hover {
  background-color: orangered;
  color: white;
}
